:root {
  --color-transparent: rgba(0 0 0 / 0);
  --color-inverse: 9 17 34;
  --color-background: #fff;
  --color-toolbar: rgba(235 240 251 / 0.75);
  --color-divider: rgba(var(--color-inverse) / 0.12);

  --color-primary-txt: rgba(var(--color-inverse) / 1);
  --color-secondary-txt: rgba(var(--color-inverse) / 0.85);
  --color-tertiary-txt: rgba(var(--color-inverse) / 0.65);

  --color-accent: #00b85c;
  --color-accent-dark: 0 150 79;
  --color-on-accent: #fff;

  --color-scrollbar-bg: rgba(var(--color-accent-dark) / 0.5);
  --color-scrollbar-thumb: #f6f9fe;
  --color-selection: rgba(0, 184, 92, 0.25);
  --color-illustrations-shadow: #66d89f;
  --color-img-drop-shadow: rgba(var(--color-inverse) / 0.28);

  --color-gradient-brand: var(--color-accent);
  --color-gradient-blue: #247aae;
  --color-gradient-green: #1a9956;
  --color-gradient-yellow: #c69227;
  --color-gradient-orange: #c86827;
  --color-gradient-red: #bc2f48;
  --color-gradient-purple: #7a4cbb;

  --color-shadow-brand: #99e6c1;
  --color-shadow-blue: #a7d4f0;
  --color-shadow-green: #a1e4c1;
  --color-shadow-yellow: #fce1a8;
  --color-shadow-orange: #fdcba8;
  --color-shadow-red: #f7acba;
  --color-shadow-purple: #cdb7eb;
}

html.dark,
html.dark-inverted {
  --color-inverse: 235 240 251;
  --color-background: #0c121e;
  --color-toolbar: rgba(18 27 44 / 0.65);

  --color-primary-txt: #fff;
  --color-secondary-txt: rgba(var(--color-inverse) / 0.85);
  --color-tertiary-txt: rgba(var(--color-inverse) / 0.65);

  --color-accent: #66d89f;
  --color-accent-dark: 87 192 137;
  --color-on-accent: rgba(34, 44, 67, 0.925);

  --color-scrollbar-bg: var(--color-accent);
  --color-scrollbar-thumb: #0c121e;
  --color-selection: rgba(102, 216, 159, 0.25);
  --color-illustrations-shadow: #a6e6cb;
  --color-img-drop-shadow: rgba(var(--color-inverse) / 0.28);

  --color-shadow-brand: #a6e6cb;
  --color-shadow-blue: #81c1e9;
  --color-shadow-green: #79d9a6;
  --color-shadow-yellow: #fad483;
  --color-shadow-orange: #fcb483;
  --color-shadow-red: #f3899c;
  --color-shadow-purple: #b898e3;

  --color-gradient-brand: var(--color-shadow-brand);
  --color-gradient-blue: var(--color-shadow-blue);
  --color-gradient-green: var(--color-shadow-green);
  --color-gradient-yellow: var(--color-shadow-yellow);
  --color-gradient-orange: var(--color-shadow-orange);
  --color-gradient-red: var(--color-shadow-red);
  --color-gradient-purple: var(--color-shadow-purple);
}
